<p id="notice"><%= notice %></p>

<h1>Nerdy Learn Bookmarks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.name %></td>
        <td><%= bookmark.description %></td>
        <td><%= link_to bookmark.url %></td>
        <td>
        <!-- <%= form_tag('bookmarks') do %>
        <%= hidden_field_tag('bookmark_ids[]', bookmark.id) %>
        <%= collection_check_boxes(:favorite, :bookmark_ids, Bookmark.all, :id, :favorites) %>
        <%= submit_tag 'Add To Favorites' %></td> -->
        <td><%= button_to 'Add To Favorites', favorites_path(favorite: {user_id: current_user, bookmark_id: bookmark}) %></td>
        <% end %>
        </td>
        <!-- <td><%= link_to 'Show', bookmark %></td>
        <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
        <td><%= link_to 'Delete', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Bookmark', new_bookmark_path %>
<%= link_to 'favorites', favorites_path %>

<%= search_form_for @q do |f| %>
<%= f.label :name_cont %>
<%= f.search_field :name_cont %>
<%= f.submit %>
<% end %>
