<p id="notice"><%= notice %></p>

<h1>Nerdy Learn Bookmarks</h1>

<h3>Filter bookmarks:</h3>
 <%= form_tag("/bookmarks", method: "get") do %>
   <%= select_tag "favorite", options_from_collection_for_select(Bookmark.all, "id", "name"), include_blank: true %>
   <%= submit_tag "Filter" %>
 <% end %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.name %></td>
        <td><%= bookmark.description %></td>
        <td><%= link_to bookmark.url %></td>
        <td><%= button_to 'Add To Favorites', favorites_path(favorite: {user_id: current_user, bookmark_id: bookmark}) %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'new bookmark', new_bookmark_path %>
<%= link_to 'favorites', favorites_path %>
